* {
    touch-action: manipulation; /*manipulation*/
}

body {
    min-height: 100%;
    height: 100%;
    /*Hide X Scrollbar*/
    overflow: auto;
    overflow-x: hidden;
}

.darkbody {
    background-color: #353c43;
}

.lightbody {
    background-color: #fff;
}

.container-full {
    margin: 0 auto;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #0d6efd;
    border-color: #0d6efd;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0d6efd;
    border-color: #0d6efd;
    cursor: pointer;
  }
